<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="uargazEntities" connectionString="metadata=res://*/uargaz.csdl|res://*/uargaz.ssdl|res://*/uargaz.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-9HFI5PO;initial catalog=uargaz;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>